<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

    <session-factory>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost:5432/hibernate_test</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">root</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQL82Dialect</property>

        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">20</property>
        <property name="hibernate.c3p0.timeout">300</property>
        <property name="hibernate.c3p0.max_statements">50</property>
        <property name="hibernate.c3p0.idle_test_period">3000</property>

        <property name="hibernate.show_sql">true</property>

        <property name="hbm2ddl.auto">update</property>

        <mapping class="com.mnikiforov.hibernate.java_brains.a_embedding_objects.UserEmbeddedAddress"/>
        <mapping class="com.mnikiforov.hibernate.java_brains.b_collections.UserWithCollection"/>
        <mapping class="com.mnikiforov.hibernate.java_brains.c_one_to_one.UserWithOneToOne"/>
        <mapping class="com.mnikiforov.hibernate.java_brains.d_one_to_many.UserWithOneToMany"/>
        <mapping class="com.mnikiforov.hibernate.java_brains.common.Vehicle"/>
        <mapping class="com.mnikiforov.hibernate.java_brains.e_many_to_many.UserWithManyToMany"/>
        <mapping class="com.mnikiforov.hibernate.java_brains.e_many_to_many.Girl"/>
        <mapping class="com.mnikiforov.hibernate.java_brains.f_inheritance.Animal"/>
        <mapping class="com.mnikiforov.hibernate.java_brains.f_inheritance.Cat"/>
        <mapping class="com.mnikiforov.hibernate.java_brains.f_inheritance.Dog"/>
        <mapping class="com.mnikiforov.hibernate.java_brains.g_crud.Product"/>
        <mapping class="com.mnikiforov.hibernate.fetch.Org"/>
        <mapping class="com.mnikiforov.hibernate.fetch.Account"/>
        <mapping class="com.mnikiforov.hibernate.one_to_one_annotations.Passport"/>
        <mapping class="com.mnikiforov.hibernate.one_to_one_annotations.User"/>
        <mapping resource="hibernate/one_to_one/Stock.hbm.xml"/>
        <mapping resource="hibernate/one_to_one/StockDetail.hbm.xml"/>
    </session-factory>

</hibernate-configuration>